* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.posts {
    flex: 9;
    display: flex;
    flex-wrap:wrap;
    
    margin-bottom: 69px;
   
    padding-top: 0px;
    justify-content: center;


}

.news {
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-gap: 2rem;
 
    justify-content: center;
    align-items: center;
    
    
   
  
  }