.settings {
  display: flex;
  margin-top: 60px;
}

.settingsWrapper {
  flex: 9;
  padding: 20px;
}

.settingsTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settingsUpdateTitle {
  font-size: 20px;
  margin-bottom: 20px;
  color: black;
  text-transform: uppercase;
}

.settingsDeleteTitle {
  color: black;
  font-size: 19px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  border: 3.5px solid black;
  padding: 10px;
  border-radius: 10px;
}
.settingsDeleteTitle:hover{
  background-color: black;
  color: white;
}

.settingsForm {
  display: flex;
  flex-direction: column;
}

.settingsPP {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.settingsPP > img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  object-fit: cover;
}

.settingsPPIcon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: lightcoral;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  cursor: pointer;
}

.settingsForm > label {
  font-size: 20px;
  margin-top: 20px;
}

.settingsForm > input {
  color: gray;
  margin: 10px 0;
  height: 30px;
  border: none;
  border-bottom: 1px solid lightgray;
}

.settingsSubmit{
    width: 150px;
    align-self: center;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: black;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}

@media screen and (max-width: 768px){

  .settings {
    display: flex;
    flex-direction: column;
  }
  .settingsWrapper {
    flex: 9;
    padding: 20px;
    margin-top: 50px;
  }
  .settingsTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .settingsUpdateTitle {
    font-size: 14px;
    margin-bottom: 20px;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .settingsDeleteTitle {
    color: black;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    border: 3.5px solid black;
    padding: 10px;
    border-radius: 10px;
   
  }
  

}